/* Header*/

#location-input {
    margin-left: 2px;
}
 
.title {
    color: rgb(2, 16, 32);
}
   
#submit-button {
    background-color: black;
    color: blanchedalmond;
    padding: 3px;
} 

header {
    border: solid 1px;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.16);
    padding-bottom: 25px;
}

  /* Main content */

#current-weather, .upcoming{
    background-color: rgb(178, 228, 246);
    border: solid 2px black;
    border-radius: 20px;
    color: rgb(2, 2, 2);
}
#main-container {
    align-items: center;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr; 
    justify-content: space-evenly;
    width: 100%;
} 
#convert-submit,
#temp-to-convert,
#converted-temperature {
    margin: 0 0 0 50px;
}
.upcoming-container {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

article {
    text-align: center;
    align-items: center;
    padding: 20px;
    border: solid 1px;
    background-color: lightgray;
}

body {
background-image: url("https://thumbs.gfycat.com/ApprehensiveBlackandwhiteEarwig-size_restricted.gif");
background-repeat: no-repeat;
background-size: cover;

}

img {
    width: 30%;
}

main {
    margin: 20px 0 0 0 ;
}
 
 */
    
    /* Sidebar */
aside section{
        padding: 20px;
} 

aside #temperature-converter {
    background-color: rgb(17, 21, 83);
    border: solid 2px black;
    border-radius: 20px;
    color: white;
    padding: 5px 5px 5px 5px;
    position: absolute;
    left: 2%;
    top: 20%;
    width: 15%;
}
#temp-to-convert {
    width: 20%;
}
.weather-history {
    background-color: rgb(17, 21, 83);
    border: solid 2px black;
    border-radius: 20px;
    color: white;
    padding: 5px 5px 5px 5px;
    position: absolute;
    top: 20%;
    right: 2%;
    width: 15%;
}
  
  /* Images */
  /* Media Queries */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}

@media only screen and (min-width: 0px) and (max-width: 571px){
    /*Small smartphones [325px -> 425px]*/
    .upcoming-container{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    aside #temperature-converter {
        position: absolute;
        left: 40%;
        top: 59%;
        width: 30%;
    }
    .weather-history { 
        display: grid;
        align-items: center;
        position: relative;
        right: 100%;
        top: 63%;
        width: 100%;
       
    }

}