/* Header*/

#location-input {
    margin-left: 2px;
}
 
.title {
    color: rgb(2, 16, 32);
}
   
#submit-button {
    background-color: black;
    color: blanchedalmond;
    padding: 3px;
} 

header {
    border: solid 1px;
    text-align: center;
    background-color: rgba(0, 128, 128, 0.16);
    padding-bottom: 25px;
}

  /* Main content */

#current-weather {
    background-color: rgb(34, 37, 38);
    border: solid 2px black;
    border-radius: 20px;
    color: rgb(178, 228, 246);
}
.upcoming{
    background-color: rgb(178, 228, 246);
    border: solid 2px black;
    border-radius: 20px;
    color: rgb(2, 2, 2);
}
#main-container {
    align-items: center;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr; 
    justify-content: space-evenly;
    width: 100%;
} 
#convert-submit,
#temp-to-convert,
#converted-temperature {
    margin: 0 0 0 50px;
}

.upcoming-container {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

article {
    align-items: center;
    background-color: lightgray;
    text-align: center;
    padding: 20px;
    border: solid 1px;
}

body {
background-image: url("https://thumbs.gfycat.com/ApprehensiveBlackandwhiteEarwig-size_restricted.gif");
background-repeat: no-repeat;
background-size: cover;
}

img {
    width: 30%;
}

main {
    margin: 20px 0 0 0 ;
}
    
    /* Sidebar */
aside section{
        padding: 20px;
} 

#temperature-converter {
    background-color: rgb(17, 21, 83);
    border: solid 2px black;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    margin: 5px 5px 20px;
    padding: 5px 5px 5px 5px;
    position: relative;
    bottom: 150%;
    width: 80%;
}
#temp-to-convert {
    width: 50%;
}
.weather-history {
    background-color: rgb(17, 21, 83);
    border: solid 2px black;
    border-radius: 20px;
    color: white;
    padding: 5px 5px 5px 5px;
    position: absolute;
    top: 16%;
    right: 2%;
    width: 15%;
}
  
  /* Images */
  /* Media Queries */
@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (min-width: 572px) and (max-width: 630px){
    .weather-history {
        width: fit-content;
    }
}
@media only screen and (min-width: 0px) and (max-width: 630px){
    /*Small smartphones [325px -> 425px]*/
    body {
        background-size: contain;
        background-repeat: repeat;
    }
    .upcoming-container{
        display: grid;
        grid-template-columns: 1fr;
    }
    aside #temperature-converter {
        display: grid;
        position: relative;
        left: 300%;
        top: 500%;
        width: 100%;
    }
    .weather-history { 
        align-items: center;
        display: grid;
        position: relative;
        right: 200%;
        top: 75%;
        width: 100%;
    }
#convert-submit,
#temp-to-convert,
#converted-temperature {
    margin: 0 0 0 20px;
}

}