/* Header*/

#location-input {
    margin-left: 2px;
}
 
.title {
    color: rgb(2, 16, 32);
}
   
#submit-button {
    padding: 3px;
    background-color: black;
    color: blanchedalmond;
} 

header {
    border: solid 2px;
    text-align: center;
    background-color: teal;
    padding-bottom: 25px;
}

  /* Main content */

#current-weather, .upcoming-container{
    border: solid 1px;
    background-color: lightgray;
}
#main-container {
    align-items: center;
    display: grid;
    grid-template-columns: .5fr 1fr .5fr; 
    justify-content: space-evenly;
    width: 100%;
} 

.upcoming-container {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

article {
    text-align: center;
    align-items: center;
    padding: 20px;
    border: solid 1px;
    background-color: lightgray;
}

main {
    margin: 20px 0 0 0 ;
}
 
 */
    
    /* Sidebar */
aside section{
        padding: 20px;
} 

aside #temperature-converter {
    position: absolute;
    top: 180px;
    left: 10px;
    width: 20%;
}
  
.weather-history {
    position: absolute;
    top: 180px;
    right: 10px;
    width: 20%;
}
  
  /* Images */
  /* Media Queries */
  @media screen and (max-width: 676px) {
    .main-container{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        width: 20%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .weather-history {
        grid-template-rows: .5fr;
    }
  }